---
import "../styles/section-hero.css"
---

<section class="section-hero">
    <div class="text-personal">
        <p class="title">
            Hola, Soy Nicolas Rodriguez
        </p>
        <p class="subtitle">
            Desarrollador de software
        </p>
        <p class="content">
            Estudiante de ingenieria en sistemas
            enfocado en el desarrollo de software
            y en el continuo aprendizaje de nuevas 
            tecnologias, atraido por el frontend.
        </p>

        <div class="buttons">
            <button class="button-cv">
                Descargar CV
            </button>
            <button class="button-contact-me">
                Hablemos
            </button>
        </div>

    </div>
    <div class="img-personal">
        <img src="../../public/assets/photo-personal.jpeg" alt="">
    </div>
</section>